{% extends 'base.html' %}
{% block meta %}
<title>{{user.username}} Todolist</title>
<h1>{{user.username}} To-Do's</h1>
{% endblock meta %}

{% block content %}  
    <head>
        {% load static %}
    </head>
    <!-- Button untuk membuat tugas Bary -->
    <button><a href="{% url 'todolist:create' %}">Add New Task</a></button>

    <h2>Task List:</h2>
    <table>
        <tr>
        <!-- membuat header table-->
          <th>Create Date</th>
          <th>Title</th>
          <th>Description</th>
          <th>Status</th>
          <th>Update</th>
          <th>Delete</th>
          <th>Edit</th>
        </tr>
        {% comment %} Add the data below this line {% endcomment %}
        <!-- Mengiterasi data tugas pada query database -->
        {% for task in task_list %}
            <tr>
                <td>{{task.date}}</td>
                <th>{{task.title}}</th>
                <td>{{task.description}}</td>
                <td> 
                    <!-- Jika is_finished true: tugas Selesai dan vice versa -->
                    {% if task.is_finished %}
                    Selesai
                    {% else %}
                    Belum Selesai
                    {% endif %}
                </td>
                <!-- Implementasi fungsi diviews pada button html disetiap task -->
                <!-- Kegunaan task.id adalah untuk mengupdate data task dengan id tersebut -->
                <!-- Task.id akan digunakan sebagai parameter pk di fungsi update, delete, dan edit di views.py -->
                <td><button><a href="{% url 'todolist:update' task.id %}">Update</a></button></td>
                <td><button><a href="{% url 'todolist:delete' task.id %}">Delete</a></button></td>
                <td><button><a href="{% url 'todolist:edit' task.id %}">Edit</a></button></td>
            </tr>
        {% endfor %}
      </table>
    <button><a href="{% url 'todolist:logout' %}">Logout</a></button>

{% endblock content %}