{% extends 'base.html' %}

  {% block meta %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">



  {% endblock meta %}

  {% block content %}
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="#">{{user.username}}</a>
      <nav class="navbar navbar-dark bg-dark">
        <form class="form-inline">
          <button type="button"  id="createNewTask" class="btn btn-outline-success" data-toggle = "modal" data-target = "#createTaskModal">Tambah Tugas Baru</button>
          <a href="{% url 'todolist:logout' %}" class="btn btn-outline-danger" role="button">Logout</a>
        </form>
      </nav>
    </div>
  </nav>

  <div class="justify-content-center text-center">
    <h1 class="">{{user.username}}'s todolists</h1>
  </div>


      <div class="text-center flex-column mx-auto my-auto">
      <div class="container">
      <div class="row justify-content-center" id="taskContainer">


      </div>
      </div>
      </div>


  </div>

  <div class="modal fade" id="createTaskModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modelHeading"> Add New Task</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger error-msg" style="display:none">
                    <ul class="mb-0"></ul>
                </div>
                <form method="POST" id="createTaskForm" name="createTaskForm" class="form-horizontal" novalidate>
                    {% csrf_token %}
                    <input type="hidden" name="post_id" id="post_id">
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="title" name="title" placeholder="Enter Title" value="" maxlength="50">
                        </div>
                    </div>
       
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="description" name="description" placeholder="Enter Description" value="" maxlength="50">
                        </div>
                    </div>
        
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary" data-dismiss="modal fade" >Add Task</button>
                      <button type="button" class="btn btn-secondary" onClick="closeModal()" data-dismiss="modal fade">Close</button>
                  </div>

                </form>
            </div>
        </div>
    </div>
  

  {% endblock content %}

  {% block javascript %}

<script>

  // function loadTaskData(){
  //     document.getElementById('taskContainer').innerHTML = ""
  //     let cardDataHTML = ""
  //     $.ajax({
  //       url: '/todolist/json/',
  //       type: "GET",
  //       dataType: 'JSON',
  //       success: function(datalist){
  //         for(let data of datalist){
  //           cardDataHTML+=`
  //           <div class="col-sm-6 col-md-4 col-lg-3 p-1" id="task-${data.pk}">
  //               <div class="card">
  //                 <div class="card-body">
  //                   <h3 class="card-title" id="cardTitle-${data.pk}"> ${ data.fields.title } </h3>
  //                   <h6 class="card-subtitle" >  ${data.fields.date}</h6>
  //                   <h6 class="card-subtitle" id="cardSubtitle-${data.pk}"> ${taskStatus}</h6>
  //                   <p class="card-text">  ${ data.fields.description } </p>
  //                   <button id="button-update-task-${data.pk}"  class="btn btn-outline-warning p-1 mx-auto my-auto" onClick="updateTaskStatus(${data.pk})" role="button">Update</button>
  //                   <button id="button-delete-task-${data.pk}"  class="btn btn-outline-danger p-1 mx-auto my-auto" onClick="deleteTask(${data.pk})" role="button">Delete</button>
  //                 </div>
  //               </div>
  //             </div>
  //           `
  //         }
  //         document.getElementById('taskContainer').innerHTML = cardDataHTML
  //       },
  //       error: function(response){
  //         console.log("error")
  //       }
  //     })
  // }
  function loadTaskData() {
    let taskCardHTML = ''
    $("#taskContainer").append('');
    $.ajax({
      url: "/todolist/json/", 
      type: "GET",
      dataType: "json",
      success: function (dataList){
        $("#taskContainer").html('');
        for (let data of dataList){
          
          let taskStatus = data.fields.is_finished ? "Selesai" : "Belum Selesai";
          taskCardHTML +=`
              <div class="col-sm-6 col-md-4 col-lg-3 p-1" id="task-${data.pk}">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title" id="cardTitle-${data.pk}"> ${ data.fields.title } </h3>
                    <h6 class="card-subtitle" >  ${data.fields.date}</h6>
                    <h6 class="card-subtitle" id="cardSubtitle-${data.pk}"> ${taskStatus}</h6>
                    <p class="card-text">  ${ data.fields.description } </p>
                    <button id="button-update-task-${data.pk}"  class="btn btn-outline-warning p-1 mx-auto my-auto" onClick="updateTaskStatus(${data.pk})" role="button">Update</button>
                    <button id="button-delete-task-${data.pk}"  class="btn btn-outline-danger p-1 mx-auto my-auto" onClick="deleteTask(${data.pk})" role="button">Delete</button>
                  </div>
                </div>
              </div>`
          ;
        }
        $("#taskContainer").html(taskCardHTML);
        
      },
      error: function(response){
        console.log('Eror: ');
      }
    });
  } 


  $(document).ready(function () {
    loadTaskData();
  });

  function closeModal(){
    $("#createTaskForm").trigger('reset');  
    $('#createTaskModal').modal("hide")
  }

  $(document).on("submit", "#createTaskForm", function(e) {
        e.preventDefault();
        $.ajax ({
            url: "add/",
            type: "POST",
            dataType:"json",
            data: {
                title:$("#title").val(),
                description:$("#description").val(),
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: function(data) {
                loadTaskData();
                

            }
        })
    })
  

  function updateTaskStatus(pk){
    $.ajax({
        url: `/todolist/update-task/${pk}/`,
        type: "POST",
        credentials: "include",
        success: function(data) {
            let innerHTML = document.getElementById(`cardSubtitle-${pk}`).innerHTML.toString().trim();
            let statusUpdate = (innerHTML == "Belum Selesai") ? "Selesai" : "Belum Selesai"
            let innerHTMLNew = `<h6 class="card-subtitle" id="cardSubtitle-${pk}"> ${statusUpdate}</h6>`
            $(`#cardSubtitle-${pk}`).html(innerHTMLNew);
            loadTaskData();
        }
    })
  }
  function deleteTask(pk){
    $.ajax({
        url: `/todolist/delete-task/${pk}/`,
        type: "DELETE",
        credentials: "include",
        success: function(data) {
            $(`#task-${pk}`).remove()
        }
    })
  }
</script>
{% endblock javascript %}


